@import './lib.less';
@import '~antd/dist/antd.less';

/* style adjustment */

h1, h2, h3, h4, h5, strong {
  font-weight: 800 !important;

  @media @sm, @xs {
    font-size: 16px !important;
  }
}

//typography

.ant-typography {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0 !important;
}

.ant-typography-secondary {
  color: @color-white !important;
}

a.ant-typography-secondary {
  &:hover, &:focus {
    color: @secondary-color-light !important;
  }

  &:active {
    color: @secondary-color-dark !important;
  }
}

.ant-typography-secondary {

  .ant-typography-expand {
    color: @secondary-color;

    &:hover, &:focus {
      color: @secondary-color-light;
    }
  
    &:active {
      color: @secondary-color-dark;
    }
  }
}

// select

.ant-select-selector {
  border-radius: 16px !important;
  font-weight: 800;
}

// table

.ant-table {
  font-family: 'Poppins', sans-serif;
}

// avatar

.ant-avatar {
  border: solid 3px @primary-color;
}

.ant-avatar-lg {
  width: 80px;
  height: 80px;
  line-height: 40px;
  border-radius: 50%;
}

// tag

.ant-tag {
  border-radius: 24px;
  padding: 4px 12px;
  font-weight: 900;
  border: none;
  margin: 0;

  @media @sm, @xs {
    padding: 2px 6px;
  }
}

.ant-tag-blue {
  background-color: @primary-color;
  color: @color-white;
}

.ant-tag-orange {
  background-color: @secondary-color;
  color: @color-white;
}

// popover

.ant-popover-arrow {
  display: none;
}

.ant-popover-inner {
  border-radius: 16px;
  overflow: hidden;
}

.ant-popover-inner-content {
  padding: 0;
}

// input

.ant-input {
  border-radius: 16px;
}

.ant-input-affix-wrapper {
  border-radius: 16px;

  .ant-input {
    border-radius: 0;
  }
}

// button

.ant-btn {
  border-radius: 16px;
  font-weight: 800 !important;
  display: flex;
  align-items: center;
}

.ant-btn-default {
  background-color: @secondary-color;
  color: @color-white;
  border-color: @secondary-color;

  &:hover, &:focus {
    background: @secondary-color-light;
    border-color: @secondary-color-light;
  }

  &:active {
    background: @secondary-color-dark;
    border-color: @secondary-color-dark;
  }
}

.ant-btn-circle {
  justify-content: center;
}

// divider

.ant-divider {
  margin: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.06);
}

/* custom styles */

// common

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-flex-sm {
  @media @sm, @xs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}

.desktop {
  @media @sm, @xs {
    display: none;
  }
}

.mobile {
  @media @md, @lg, @xl {
    display: none;
  }
}

.story-card {
  cursor: pointer;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  border: solid 2px rgba(0, 0, 0, 0.06);

  @media @sm, @xs {
    height: 100px;
  }
}

.loading {
  cursor: unset;
}

.clickable {
  cursor: pointer;
}

.overflow-scroll {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// typography

.typography-fade {
  opacity: 0.5;
}

.typography-block {
  display: block;
}

.typography-h4 {
  font-size: 20px;
  @media @sm, @xs {
    font-size: 14px;
  }
}

.typography-small {
  font-size: 11px;
}

// row

.row-vertical {
  flex-direction: column;
}
.row-vertical-sm {
  @media @sm, @xs {
    flex-direction: column;
  }
}

// skeleton

.skeleton-anime-card {
  width: 100%;
  .ant-skeleton-button {
    width: 100%;
    padding-top: 150%;
    border-radius: 16px;
    box-shadow: @box-shadow-light;
  }
}

.skeleton-stretch {
  width: 100% !important;
  height: 100% !important;
}


// spacing

.p-1 {
  padding: 8px;

  @media @sm, @xs {
    padding: 4px;
  }
}

.p-2 {
  padding: 16px;

  @media @sm, @xs {
    padding: 8px;
  }
}

.p-3 {
  padding: 24px;

  @media @sm, @xs {
    padding: 16px;
  }
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;

  @media @sm, @xs {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;

  @media @sm, @xs {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;

  @media @sm, @xs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;

  @media @sm, @xs {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;

  @media @sm, @xs {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;

  @media @sm, @xs {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.mt-2 {
  margin-top: 16px;

  @media @sm, @xs {
    margin-top: 8px;
  }
}

.mr-1 {
  margin-right: 8px;

  @media @sm, @xs {
    margin-right: 4px;
  }
}

.mr-2 {
  margin-right: 16px;

  @media @sm, @xs {
    margin-right: 8px;
  }
}

.mb-1 {
  margin-bottom: 8px !important;

  @media @sm, @xs {
    margin-bottom: 4px !important;
  }
}

.mb-2 {
  margin-bottom: 16px !important;

  @media @sm, @xs {
    margin-bottom: 8px !important;
  }
}

.mb-3 {
  margin-bottom: 24px !important;

  @media @sm, @xs {
    margin-bottom: 12px !important;
  }
}

.mb-4 {
  margin-bottom: 32px !important;

  @media @sm, @xs {
    margin-bottom: 16px !important;
  }
}

.mb-5 {
  margin-bottom: 40px !important;

  @media @sm, @xs {
    margin-bottom: 20px !important;
  }
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;

  @media @sm, @xs {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.pt-4 {
  padding-top: 32px;

  @media @sm, @xs {
    padding-top: 16px;
  }
}

.pb-5 {
  padding-bottom: 40px;

  @media @sm, @xs {
    padding-bottom: 20px;
  }
}