@import './lib.less';
@import '~antd/dist/antd.less';

h1, h2, h3, h4, h5, strong {
  font-weight: 800 !important;
}

h3 {
  @media @mobile {
    font-size: 20px !important;
  }
}

.ant-typography {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0 !important;
}

.ant-typography-secondary {
  color: @color-white !important;
}

a.ant-typography-secondary {
  &:hover {
    color: @secondary-color !important;
  }
}

.ant-tag {
  border-radius: 24px;
  padding: 4px 12px;
  font-weight: 900;
  border: none;
}

.ant-tag-blue {
  background-color: @primary-color;
  color: @color-white;
}

.ant-popover-arrow {
  display: none;
}

.ant-popover-inner {
  border-radius: 16px;
  overflow: hidden;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-input {
  border-radius: 16px;
}

.ant-input-affix-wrapper {
  border-radius: 16px;

  .ant-input {
    border-radius: 0;
  }
}

.ant-btn {
  border-radius: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;

  &.ant-btn-default {
    background-color: @secondary-color;
    color: @color-white;
    border-color: @secondary-color;

    &:hover, &:focus {
      background: @secondary-color-light;
      border-color: @secondary-color-light;
    }

    &:active {
      background: @secondary-color-dark;
      border-color: @secondary-color-dark;
    }
  }
}

.ant-divider {
  margin: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.06);
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 100%;
  max-width: calc(1200px + 16px);
  padding: 0 16px;
}

.desktop {
  @media @mobile {
    display: none;
  }
}

.mobile {
  @media @desktop {
    display: none;
  }
}

.p-3 {
  padding: 24px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.mt-2 {
  margin-top: 16px;
}

.mr-1 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-5 {
  margin-bottom: 40px !important;
}

.pt-4 {
  padding-top: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}