@color-white: #fafafa;
@secondary-color: #FF9700;
@secondary-color-light: #ffaf3b;
@secondary-color-dark: #9c5c00;
@primary-fade-color: #E6F7FF;
@primary-opaque-color: rgba(1, 124, 239, 0.9);
@primary-dark-color: #003b73;
@box-shadow-base:  0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 9px 28px 8px rgba(0, 0, 0, 0.05);
@box-shadow-light: 0px 0px 16px 0px rgba(0,0,0,0.1);
@navbar-height: 64px;
@border-color:rgba(0, 0, 0, 0.2);

@xl: ~"only screen and (min-width: 1200px)";
@lg: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@md: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@sm: ~"only screen and (min-width: 576px) and (max-width: 767px)";
@xs: ~"only screen and (max-width: 575px)";
